@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /*@apply bg-black;*/
    background-image: url('/street.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
